@import 'Snippet';
@import 'HotListItem';

@font-face {
  font-family: 'Entypo';
  src: url("entypo/entypo.eot");
  src: url("entypo/entypo.eot?#iefix") format("embedded-opentype"), url("entypo/entypo.woff") format("woff"), url("entypo/entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("raleway/Raleway-Medium.otf");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.simpleButton:hover{
  opacity: 0.6;
  cursor: pointer;

}

@media print {
 .toPrint{
   overflow: none !important;
 }
}
$font-family:'Noto Sans' !default;
$font-size:13px !default;

.x-tab-glyph{
  font-size:40px !important;
  margin:-9px;
}
.x-tab,.x-tab-inner ,.x-tab-inner .x-tab-inner-center, .x-tab-strip-text{
  font-weight: normal !important;
  font-size: 1.0em  !important;
}

.tree_wrap .x-tool ,.my-panel .x-tool
  {
  left: 0 !important;
}
.tree_wrap .x-panel-header-text-container ,.my-panel .x-panel-header-text-container
  {
  padding-left: 18px;
}

.bookmarkAssistantButton .x-btn-glyph{
  font-size: 30px !important;
  margin-top: -7px !important;
  padding: 0 !important;
}

.bookmarkAssistantButton{
  font-size:0.7em !important;
  background: #359db8 !important;
  border: none !important;
  font-weight: normal !important;
}


.x-btn-default-small .x-btn-inner, .x-btn-inner .x-btn-inner-left{
  font-weight: normal !important;
}

@-webkit-keyframes bookmarkAdded /* Safari and Chrome */
{
  0%   {background: #359db8 !important;}
  50%  {background: #37e84f !important;}
  100%   {background: #359db8 !important;}
}

.bookmarAnimate{
  -webkit-animation:bookmarkAdded 5s;
}

.bookmarkAssistantButton .x-btn-inner{
  font-size:1.7em !important;
  border: none !important;
}
.sectionHeader{
  font-weight: 200;
  margin: 0;
  padding: 0;
  font-size:1.1em;
}

h1{
  font-size: 16px;
  color:#002366;
}

h2{

  color:#002366;
}
h3{

  color:#002366;
}

.x-tree-icon-leaf{
  width: 0 !important;
}

.x-tree-icon-parent{
  width: 0 !important;
}

.x-menu-item:hover, .copyToClipboard:hover, .copyToClipboard.hover{
  background-color: #d7e4ff !important;

}
.x-tip {
  width: auto !important;
}
.x-tip-body {
  width: auto !important;
}
.x-tip-body span {
  width: auto !important;
}


div[class~="tree_wrap"] div[class~="x-grid-cell-inner"]
  {
  height:    auto   !important;
  white-space:  normal  !important;
  text-indent: -3.3em  !important;
  padding-left: 3.3em   !important;
  padding-right: 1em  !important;

}


.x-mask.splashscreen {
  background-color: white;
  opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
  font-size: 16px;
  padding: 30px 5px 5px 5px;
  border: none;
  background-color: transparent;
  background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
  min-height: 110px !important;
}

.x-splash-icon {
  /* Important required due to the loading symbols CSS selector */
  background-image: url('logo.jpg') !important;
  margin-top: -30px;
  margin-bottom: 10px;
}