
.HotListItem {
  color: #003766 !important;
  background: white !important;


  border: 2px solid #5bc3de !important;
  border-radius: 5px !important;

  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.x-HotListItemPressed {
  color: #002366 !important;

  border-radius: 5px !important;
  background-color: #8fd9ff !important;
}