.snippet{
  border-radius: 8px  !important;
  background: #acd6e1 !important;
  border: 1px solid #6ca3bf !important;
}

.snippetPulsate{
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.snippet:hover{
  background: #9dc4cf !important;


}
.snippetTitle{
  text-align: center;
  font-size:16px;
  width: 230px;

  padding: 0px;
  opacity: 1;
  white-space: normal;
  margin-left: -5px;
  color: #128cac !important;
  line-height: 0.95em;

}
.snippetSummary{
  text-align: center;
  font-size:12px;
  width: 230px;

  padding: 0px;
  opacity: 0.8;
  white-space: normal;
  margin-left: -5px;
  margin-top: 5px;
  margin-bottom:5px;
  color: #128cac !important;
  line-height: 0.95em;
}
.snippetImage{
  height: 100px;
  width: 250px;
  position: absolute ;
  bottom: 0;
  left: 0;
  margin-left: -10px;

}



.snippetImage img{
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #6ca3bf;
  border-radius: 8px;

}


.snippetImageOverlay{

  font-family: 'Entypo';
  font-size: 86px;
  color: rgb(57, 138, 159);
  position: absolute;
  top: -12px;
  left: 110px;
  opacity: 0.5;

}
.snippetOveraly{
  font-family: 'Entypo';
  font-size: 50px;
  margin: -100px 0 0 -100px ;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: rgb(57, 138, 159);
}

.snippet .x-btn-inner{
  padding: 0;
  width: 230px;
  height: 180px;
}

.snippet .x-btn-button{
  height: 180px;
}
@-webkit-keyframes pulsate {
  0% { opacity: 1.0;}
  50% {opacity: 0.8;}
  100% {opacity: 1.0;}
}
.snippetPanelButton{
  background:none;
  color: #359db8;

  font-size: 155px;
  height: 200px;
}
.snippetPanelButton:hover{

  color: #4abbd5;

}
/*
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 1.0;}
  50% {opacity: 0.9;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 1.0;}
  */

.contentImage{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #50c8e5;
}

.contentYTImage{
  margin-left: auto;
  margin-right: auto;
  left:0;
  top:0;
  display: block;
  border: 1px solid #50c8e5;
  position:absolute;
  opacity: 0.8;
}
.contentYTImage:hover{
  opacity: 1;
}

.contentVideo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #50c8e5;
}